.header{background-color: pink}
.two{padding-left: 50px;}
.bannar{padding: 20px 100px 0px 20px; 
         display: flex; align-items: center;
}

.mul{font-size:40px;}

.soto{}

.btn-primary{color: white; background-color:tan; border-radius: 5px; padding: 5px ;


}