.header{background-color: pink}
.two{padding-left: 50px;}
.bannar{padding: 20px 100px 0px 20px; 
         display: flex; align-items: center;
}

.mul{font-size:40px;}

.soto{}

.btn-primary{color: white; background-color:tan; border-radius: 5px; padding: 5px ;


}
.qq{text-align: center;margin-top: 80px;


}

.ee{font-size: x-small;}
.rr{display:inline-flex;}





.tt{background-color: rosybrown; margin: 36px; padding: 30px; border-radius:50px;}


.yy{background-color: aquamarine ; margin: 36px; padding: 30px; border-radius: 50px;}


.uu{ background-color:silver; margin: 36px; padding: 50px; border-radius: 50px;}
.ii{display:inline-flex; text-align: center; }

.oo{text-align: left;}

.pp{text-align: center;}

.aa{text-align: left;}

.bb{background-color: beige; padding: 0px 40px 40px 40px; margin: 25px; margin-bottom: 15px; }
.bb{display: flex;}
.mm{margin: 5px;}

.nn{margin: 5px;}

.vv{margin: 5px;}




.zz{margin: 20px}

.xx{margin: 20px;}
.ss{margin: 20px;}


.kulu{background-color: azure; text-align: center;}

.up{background-image: image(Rectangle 9.png);}